1.Veri kümesindeki notların ağırlıklı ortalamasını içeren bir değişken oluşturun. Dördüncü sınıftaki öğrencilerin sayısı ile sekizinci sınıftaki öğrencilerin sayısı farklı. Bu yüzden ağırlıklı ortalamaya ihtiyacınız olacak!

2.Yeni oluşturduğunuz değişken ile harcama çeşitlerinin korelasyonu nedir? Hangi harcama kaleminin korelasyonu diğerlerine göre fazladır?

3.Şimdi dört harcama kalemi için Temel Bileşenler Analizi (PCA) uygulayın! Toplam varyansın ne kadarı ilk bileşen tarafından açıklanabilmektedir?

4.Oluşturduğunuz genel not ortalaması ve ilk temel bileşen arasındaki korelasyon nedir?

5.Modeliniz için en uygun değişkenleri seçmeniz gerektiğinde, harcama kalemlerinin yerine ilk temel değişkenleri tercih eder miydiniz? Neden?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import warnings

warnings.filterwarnings('ignore')

In [2]:
states_all2 =pd.read_csv("states_all.csv")
states_all2.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

1.Veri kümesindeki notların ağırlıklı ortalamasını içeren bir değişken oluşturun. Dördüncü sınıftaki öğrencilerin sayısı ile sekizinci sınıftaki öğrencilerin sayısı farklı. Bu yüzden ağırlıklı ortalamaya ihtiyacınız olacak!

In [6]:
states_all2["overall_score"] = (states_all2["GRADES_4_G"]*((states_all2["AVG_MATH_4_SCORE"] +
states_all2["AVG_READING_4_SCORE"])/2) + states_all2["GRADES_8_G"] * ((states_all2["AVG_MATH_8_SCORE"] + states_all2["AVG_READING_8_SCORE"])/2))/(states_all2["GRADES_4_G"] + states_all2["GRADES_8_G"])

2.Yeni oluşturduğunuz değişken ile harcama çeşitlerinin korelasyonu nedir? Hangi harcama kaleminin korelasyonu diğerlerine göre fazladır?

In [9]:
states_all2[["TOTAL_EXPENDITURE","INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE","overall_score"]].corr()

,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,overall_score
TOTAL_EXPENDITURE,1.000000,0.991347,0.993314,0.946110,0.089937
INSTRUCTION_EXPENDITURE,0.991347,1.000000,0.976889,0.909340,0.103678
SUPPORT_SERVICES_EXPENDITURE,0.993314,0.976889,1.000000,0.953091,0.094103
OTHER_EXPENDITURE,0.946110,0.909340,0.953091,1.000000,0.004678
overall_score,0.089937,0.103678,0.094103,0.004678,1.000000

INSTRUCTION_EXPENDITURE ile en yuksek korelasyon goruyoruz. Diger harcamalarla ise dusuk bir korelasyon gorulmektedir.

3.Şimdi dört harcama kalemi için Temel Bileşenler Analizi (PCA) uygulayın! Toplam varyansın ne kadarı ilk bileşen tarafından açıklanabilmektedir?

In [ ]:
# BU SORUDA ASAGIDAKI GIBI OLAN STATES3 ILE DENEDIM OLMADI SONRA states_all_df OLUSTURUP DENEDIM'PRIMARY KEY 
#DEKI BIR DEGERIN FLOAT OLMASINDAN OTURU OLMADI
# 29. SATIRDAKI GIBI DENEDIM BU DA OLMADI

In [10]:
states_all3 = states_all2[["TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE"]]
states_all3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 4 columns):
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
dtypes: float64(4)
memory usage: 46.7 KB

In [ ]:
sklearn_pca = PCA(n_components=5)
Y_sklearn = sklearn_pca.fit_transform(X)

P = eig_vec_cov[:, 0] 

Y = P.T.dot(Xt) 

print(
    'Veri kümesindeki toplam varyans yüzdesi',
    'Elle hesaplanan bileşen.\n',
    sklearn_pca.explained_variance_ratio_
)

# Compare the sklearn solution to ours – a perfect match.
plt.plot(Y_sklearn[:, 0], Y, 'o')
plt.title('Çözümlerin Karşılaştırılması')
plt.ylabel('Sklearn Bileşeni 1')
plt.xlabel('Elle Hesaplanan Bileşen 1')
plt.show()

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA


A = states_all3
print(A)
# create the PCA instance
pca = PCA(2)
# fit on data
pca.fit(A)
# access values and vectors
print(pca.components_)
print(pca.explained_variance_)
# transform data
B = pca.transform(A)
print(B)

      TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
0             2653798.0                1481703.0
1              972488.0                 498362.0
2             3401580.0                1435908.0
3             1743022.0                 964323.0
4            27138832.0               14358922.0
5             3264826.0                1642466.0
6             3721338.0                2148041.0
7              638784.0                 372722.0
8              742893.0                 329160.0
9            11305642.0                5166374.0
10            5535942.0                3043984.0
11            1040121.0                 536115.0
12             886161.0                 473505.0
13            9850560.0                5010400.0
14            5182754.0                2598925.0
15            2795774.0                1446478.0
16            2234915.0                1165749.0
17            2518082.0                1343438.0
18            3362853.0                1888349.0
19            1228869.0                 685350.0
20            4698374.0                2628891.0
21            5245560.0                2751871.0
22           10170688.0                4681327.0
23            4981125.0                2534882.0
24            1691990.0                 956104.0
25            4197600.0                2168135.0
26             781009.0                 412219.0
27            1534046.0                 909159.0
28            1251651.0                 572623.0
29            1066647.0                 581123.0
...                 ...                      ...
1462                NaN                      NaN
1463                NaN                      NaN
1464                NaN                      NaN
1465                NaN                      NaN
1466                NaN                      NaN
1467                NaN                      NaN
1468                NaN                      NaN
1469                NaN                      NaN
1470                NaN                      NaN
1471                NaN                      NaN
1472                NaN                      NaN
1473                NaN                      NaN
1474                NaN                      NaN
1475                NaN                      NaN
1476                NaN                      NaN
1477                NaN                      NaN
1478                NaN                      NaN
1479                NaN                      NaN
1480                NaN                      NaN
1481                NaN                      NaN
1482                NaN                      NaN
1483                NaN                      NaN
1484                NaN                      NaN
1485                NaN                      NaN
1486                NaN                      NaN
1487                NaN                      NaN
1488                NaN                      NaN
1489                NaN                      NaN
1490                NaN                      NaN
1491                NaN                      NaN

      SUPPORT_SERVICES_EXPENDITURE  OTHER_EXPENDITURE
0                         735036.0                NaN
1                         350902.0                NaN
2                        1007732.0                NaN
3                         483488.0                NaN
4                        8520926.0                NaN
5                        1035970.0                NaN
6                        1142600.0                NaN
7                         194915.0                NaN
8                         316679.0                NaN
9                        3410440.0                NaN
10                       1559059.0                NaN
11                        291376.0                NaN
12                        246320.0                NaN
13                       3148849.0                NaN
14                       1478639.0                NaN
15                        800570.0                NaN
16                        708572.0                NaN
17                        817871.0                NaN
18                        986486.0                NaN
19                        317880.0                NaN
20                       1461083.0                NaN
21                       1523068.0                NaN
22                       3321276.0                NaN
23                       1343203.0                NaN
24                        445364.0                NaN
25                       1221397.0                NaN
26                        241644.0                NaN
27                        394690.0                NaN
28                        334685.0                NaN
29                        310285.0                NaN
...                            ...                ...
1462                           NaN                NaN
1463                           NaN                NaN
1464                           NaN                NaN
1465                           NaN                NaN
1466                           NaN                NaN
1467                           NaN                NaN
1468                           NaN                NaN
1469                           NaN                NaN
1470                           NaN                NaN
1471                           NaN                NaN
1472                           NaN                NaN
1473                           NaN                NaN
1474                           NaN                NaN
1475                           NaN                NaN
1476                           NaN                NaN
1477                           NaN                NaN
1478                           NaN                NaN
1479                           NaN                NaN
1480                           NaN                NaN
1481                           NaN                NaN
1482                           NaN                NaN
1483                           NaN                NaN
1484                           NaN                NaN
1485                           NaN                NaN
1486                           NaN                NaN
1487                           NaN                NaN
1488                           NaN                NaN
1489                           NaN                NaN
1490                           NaN                NaN
1491                           NaN                NaN

[1492 rows x 4 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [16]:
sklearn_pca = PCA(n_components=5)

X = StandardScaler().fit_transform(A)

Xt = X.T
Cx = np.cov(Xt)
print('Kovaryans matrisi :\n', Cx)

Kovaryans matrisi :
 [[nan nan nan nan]
 [nan nan nan nan]
 [nan nan nan nan]
 [nan nan nan nan]]